# Multi-platform
unpackage/
unpackage/dist/

# Editor/OS
.DS_Store
.hbuilderx/
.vscode/
.idea/

# Local configuration
project.private.config.json

# Local artifacts
.gemini/
brain/
*.log
*.tar

# Dependencies
node_modules/

# Temp files
temp/

# macOS
.DS_Store